<%= simple_form_for(@tribe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :tribe_generation %>
    <%= f.input :immunity_wins %>
    <%= f.input :reward_wins %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
