<p id="notice"><%= notice %></p>

<h1>Listing Drafters</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Wins</th>
      <th>Losses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drafters.each do |drafter| %>
      <tr>
        <td><%= drafter.user.name %></td>
        <td><%= drafter.wins %></td>
        <td><%= drafter.losses %></td>
        <td><%= link_to 'Show', drafter %></td>
        <td><%= link_to 'Edit', edit_drafter_path(drafter) %></td>
        <td><%= link_to 'Destroy', drafter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drafter', new_drafter_path %>
